BODY { background: #bddec0; padding: 50px;}
H1, H2, H3 {color: #536f4e; font-family: sans-serif;}
#mypic {width: 150px;}
#introduction h2 {font-style: italic;}
#introduction p {font-size: 120%;}
.navigation {display: flex;gap: 20px;}
#duck {width: 300px;}