body { background: #9789ba; padding: 50px;}
h1, h2 {color: #5d3e65; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif f;}
p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 18px; color: #5b6082;}   
#mypic1 {width: 200px;}
#mypic2 {width: 100px;}
