body { background: #e0d3cc; padding: 50px;}
h1,h2,h3{color: #85628e; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif f;}
#mypic1 {width: 400px;}
#mypic2 {width: 90px;}
#mypic3 {width: 500px;}

.center { display: block; margin-left: auto; margin-right: auto; width: 50%; }



.test-div {
    background: rgba(151, 184, 119, 0.826);
    padding: 20px;
    margin: 20px;
    
}
.test-div h2{
    color: rgb(80, 130, 75);
}

#output {
    background:#a375c4;
    padding: 10px;
    margin: 10px;
}
button {
    background-color: #5d3e65;
    color: rgb(84, 199, 96);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}
button:hover {
    background-color: #a375c4;
    font-family: "scripted", ;

}
.nice-block {
    height: 40px;
    overflow: hidden;
    width: 100px;
    padding: 10px;
    background: pink;
    margin: 20px;
}

.less {
    height: 40px;
    overflow: hidden;
}

.more {
    height: auto;
    overflow: visible;
}

.nice-block span {
    cursor: pointer;
    color: darkviolet;
}